body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h3,
h4 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-family: "Roboto Serif", serif;
  margin-bottom: 0;
}

h2:first-letter {
  text-transform: capitalize;
}

h3 {
  font-size: 35px;
  margin: 10px auto 20px auto;
}

h4 {
  font-size: 20px;
  margin-bottom: 100px;
}
.weather-illustration {
  display: block;
  margin: 0 auto;
  width: 350px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app-day {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background: radial-gradient(
    800px at 10.8% 16.6%,
    rgb(254, 253, 112, 0.5) 1.7%,
    rgb(0, 0, 0, 0) 91.8%
  );
}

.weather-app-night {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: radial-gradient(
    800px at 10.8% 16.6%,
    rgba(18, 67, 107, 0.5) 1.7%,
    rgb(0, 0, 0, 0) 91.8%
  );
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 40px 70px auto;
  justify-content: flex-end;
  align-items: baseline;
  gap: 15px;
}

.units {
  display: inline;
  vertical-align: super;
  font-size: 25px;
}

.units a {
  text-decoration: none;
  color: #949494;
}

.units .active {
  color: #212529;
  text-decoration: none;
}

.hum-wind-element {
  display: block;
  text-align: center;
  margin-bottom: 35px;
  font-size: 18px;
}

.humidity-element {
  margin-right: 10px;
}

.wind-element {
  margin-left: 10px;
}

.weather-forecast {
  text-align: center;
  font-weight: 400;
  margin-bottom: 55px;
  font-size: 18px;
  padding: 0 50px;
  line-height: 0;
}

.forecast-icon {
  width: 90px;
  margin-bottom: 8px;
}
.forecast-temp-high {
  font-weight: bold;
}

.footnote {
  margin: 20px auto;
  text-align: center;
}

.open-source-link {
  text-decoration: none;
  color: rgb(17, 113, 168);
}

#current-location-button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #d3d3d3 100%);
  border-radius: 8px;
  border: 1px solid #969696;
  display: inline-block;
  cursor: pointer;
  color: #3b3b3b;
  font-size: 15px;
  font-weight: 500;
  padding: 3px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
#current-location-button:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
