body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h3,
h4 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-family: "Roboto Serif", serif;
  margin-bottom: 0;
}

h2:first-letter {
  text-transform: capitalize;
}

h3 {
  font-size: 35px;
  margin: 10px auto 20px auto;
}

h4 {
  font-size: 20px;
  margin-bottom: 80px;
}
.weather-illustration {
  display: block;
  margin: 0 auto;
  width: 350px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: rgba(224, 220, 151, 0.699) 0px 8px 24px;
}

.weather-app-day {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 15px;
}

.weather-app-day:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    369px at 10% 20%,
    rgba(245, 76, 76, 0.8) 0.7%,
    rgba(243, 203, 129, 0.9) 86.1%
  );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(35px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.weather-app-day::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.weather-app-night {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 15px;
}

.weather-app-night:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    114.9deg,
    rgb(34, 34, 34) 8.3%,
    rgb(0, 40, 60) 41.6%,
    rgb(0, 143, 213) 93.4%
  );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(35px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.weather-app-night::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 40px 70px auto;
  justify-content: flex-end;
  align-items: baseline;
  gap: 15px;
}

.units {
  display: inline;
  vertical-align: super;
  font-size: 25px;
}

.units a {
  text-decoration: none;
  color: #9b9b9b;
}

.units .active {
  color: #212529;
  text-decoration: none;
}

.hum-wind-element {
  display: block;
  text-align: center;
  margin-bottom: 35px;
  font-size: 18px;
}

.humidity-element {
  margin-right: 10px;
}

.wind-element {
  margin-left: 10px;
}

.weather-forecast {
  text-align: center;
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 18px;
  padding: 0 50px;
}

.forecast-icon {
  width: 80px;
}
.forecast-temp-high {
  font-weight: bold;
}

.footnote {
  margin: 20px auto;
}

.open-source-link {
  text-decoration: none;
  color: rgb(17, 113, 168);
}

#current-location-button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #d3d3d3 100%);
  border-radius: 8px;
  border: 1px solid #969696;
  display: inline-block;
  cursor: pointer;
  color: #3b3b3b;
  font-size: 15px;
  font-weight: 500;
  padding: 3px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
#current-location-button:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
